    #cart_header h3 {}
    #cart_header p {
        float: right;
        font-size: 16px;
        color: green;
    }
    .product_pic {
        max-width: 110px;
        max-height: 130px;
        border: solid 1px #AC8A5A;
    }

    .product_row {
        padding: 10px 0;
    }
    