/******* CSS for additional options ******/
.product_price_box {
    .label-price {
        margin-bottom: 15px;
    }
    .additional_options {
        .additional_option {
            select {
                width: 100%;
                max-width: 200px;
            }
        }
    }
}

/******* Light Box Product ***************/
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
}

.flowers-popup {
    .thumb-product{
        display:inline-block;
        width:400px;

        img{    
            width:400px;
        }
    }
}
.flowers-popup .title-product{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    padding: 50px 0 0 10px;
}
.flowers-popup .clear{
    clear:both;
}
.flowers-popup .container-data-desc{
    background-color: #efdfcc;
    color: #113155;
    font-family: Verdana,Geneva,sans-serif;
    /*font-size: 1.4em;*/
    line-height: normal;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.flowers-popup .title-desc{
    font-family: 'Cinzel', serif;
    font-size:1.7em;
    margin:0;
}
.flowers-popup .name{
    font-family: "Cinzel",serif;
    /*font-size: 2.7em;*/
    margin-bottom:10px;
}
.flowers-popup .price{
    font-family: Verdana, Geneva, sans-serif;
    /*font-size:1.7em;*/
}
.flowers-popup .price-popup{
    font-weight:normal;
    margin-top:10px;
}


@media screen and (max-width: 767px) {
    .flowers-popup .thumb-product{
        width:100%;
    }
    .flowers-popup .thumb-product{
        width:100%;
    }   
}
