/*
 * Flowers program
 * Copyright 2014 FuneralNet
 */

.popover {
    font-size: 12px;
}
form#mainform {
    padding-top: 20px;

    input, 
    label {
      font-size: 1.2em;
      font-family: 'Arial',Verdana,Tahoma;
    }
}
.noproductrow {
    padding: 120px 0 140px 0;
    text-align: center;
    font-weight: bold;
}
.subcategory_btt {
    text-transform: capitalize;
}
.product_qty {
    height: 26px;
}
.pic {
    border: 1px solid #AC8A5A;
    max-width: 180px;
    max-height: 210px;
}

.category_btt, .active_category_btt {
    color: white;
    padding: 5px 20px;
    text-transform: capitalize;
}
.category_btt {
    border: solid 1px #C4C4C4;
    background-color: #C4C4C4;
}
.category_btt:hover {
    border: solid 1px #B8B8B8;
    background-color: #B8B8B8;
}
.active_category_btt {
    border: solid 1px #35709C;
    background-color: #35709C;
    cursor: default;
}
#breadcrumb {
    background-color: #FFF;
    padding: 5px 30px;
    margin: 0 0 25px 0;
    font-size: 13px;
    color: #999;
}
#breadcrumb a {
    color: #999;
}
#breadcrumb #cart {
    /*position: absolute;
    right: 3px;
    top: 3px;*/

    border: #e7e7e7 1px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 34px;
    overflow: hidden;
    line-height: 34px;
    font-family: 'Arial',Verdana,Tahoma;
    color: #767676;
    padding: 0 4px 0 32px;
    background-image: url("//www.funeralnet.com/mfscommon/programs/merchant/assets/graphics/custom-icon-cart.jpg");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    cursor: pointer;
}

.b-bread{
    box-sizing: border-box;
}
.b-bread__btn{
}
.b-bread__label{
    box-sizing: border-box;
    color: rgb(255,255,255);
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0 7px;
    vertical-align: middle;
}

.b-bread__label{ background-color: #3D74A3;}
.b-bread__btn_active > .b-bread__label{
    background-color: #D3535D;
}

.b-bread__label{ background-color: #8E4423; }
.b-bread__sub_level_1 .b-bread__label{ background-color: #C6491A; }
.b-bread__sub_level_2 .b-bread__label{ background-color: #2C7E00; }

.b-bread__sub_level_1 .b-bread__btn_active{ background-color: #FF652D; }
.b-bread__sub_level_2 .b-bread__btn_active{ background-color: #5FB404; }

.b-bread__btn_inactive .b-bread__btn{
    display: none;
}


.clearfix{
    clear: both;
}

.b-bread__sub_level_2 .b-bread__btn_inactive .b-bread__btn{
    display: none;
}

.flyover {
    left: 150%;
    overflow: hidden;
    position: fixed;
    width: 50%;
    opacity: 0.9;
    z-index: 1050;
    transition: left 0.6s ease-out 0s;
}
.flyover-bottom {
    bottom: 10px;
}
.flyover-top {
    top: 10px;
}
.flyover.in {
    left: 50%;
}
.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin-bottom: 20px;
    padding: 10px 35px 10px 15px;
}
.alert h4 {
    color: inherit;
    margin-top: 0;
}
.alert-danger {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.alert-success {
    background-color: #EDF7F0;
    border-color: #F3EAED;
    color: #088318;

}
.alert-success p{
    font-size: 15px;
    color: #088318 !important;
}

.product {
    padding: 8px;
    border:1px solid gray;
    margin: 1px 0px 12px 13px;
}
.btn-add{
    margin: 8px 0px 8px 0px;
}
.contain-step {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 36px 0px;
}

#merchandise_wrapper {
    .temporary-off-message {
        p {
            color: darkred;
            padding-bottom: 15px;
            text-align: left;
        }
    }
    h3 {
        padding: 5px;
        margin: 25px 0;
        padding-left: 25px;
    }
    .form-control {
        height: 3em;
    }
    .noproductrow {
        padding: 120px 0 140px 0;
        text-align: center;
        font-weight: bold;
    }
    .subcategory_btt {
        text-transform: capitalize;
    }
}
#merchandise_wrapper .product_qty {
    height: 26px;
}
#merchandise_wrapper .pic {
    border: 1px solid #AC8A5A;
    max-width: 180px;
    max-height: 210px;
}

#merchandise_wrapper .category_btt, .active_category_btt {
    color: white;
    padding: 5px 20px;
    text-transform: capitalize;
}
#merchandise_wrapper .category_btt {
    border: solid 1px #C4C4C4;
    background-color: #C4C4C4;
}
#merchandise_wrapper .category_btt:hover {
    border: solid 1px #B8B8B8;
    background-color: #B8B8B8;
}
#merchandise_wrapper .active_category_btt {
    border: solid 1px #35709C;
    background-color: #35709C;
    cursor: default;
}
#merchandise_wrapper #breadcrumb {
    background-color: #FFF;
    padding: 13px 30px;
    margin: 0 0 25px 0;
    font-size: 13px;
    color: #999;
}
#merchandise_wrapper #breadcrumb a {
    color: #999;
}
#merchandise_wrapper #breadcrumb a:link,
#merchandise_wrapper #breadcrumb a:visited,
#merchandise_wrapper #breadcrumb a:hover,
#merchandise_wrapper #breadcrumb a:active {
    display: inline;
}
#merchandise_wrapper #breadcrumb #cart {
    /*position: absolute;
    right: 3px;
    top: 3px;*/

    border: #e7e7e7 1px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 34px;
    overflow: hidden;
    line-height: 34px;
    font-family: 'Arial',Verdana,Tahoma;
    color: #767676;
    padding: 0 4px 0 13px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    cursor: pointer;
}
#merchandise_wrapper #breadcrumb #cart span.cart_qty {
    display: inline-block;
    float: left;
    color: #FFF;
    background-color: #d2d2d2;
    margin: 7px 0px 0px 0px;
    padding: 0px 3px;
    height: 20px;
    line-height: 20px;
    font-family: 'Arial',Verdana,Tahoma;
    font-size: 14px;
}

#merchandise_wrapper #breadcrumb #cart div.cart-qty-container {
    position: relative;
    display: inline-block;
    margin: 0px 5px 0px 5px;
}
#merchandise_wrapper .add_cart_btt {
    border: solid 1px gray;
    background-color: gray;
    color: white;
    padding: 2px 12px;
}
#merchandise_wrapper .add_cart_btt:hover {
    border: solid 1px #777;
    background-color: #777;
}
#merchandise_wrapper .add_cart_btt {}

#merchandise_wrapper .back_btt, #merchandise_wrapper .submit_btt {
    display: inline-block;
    padding: 8px 20px;
    color: white;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
}
#merchandise_wrapper .back_btt {
    background: #B1B1B1;
}
#merchandise_wrapper .back_btt:hover {
    background: #A8A8A8;
}
#merchandise_wrapper .back_btt:active {
    background: #999999;
}
#merchandise_wrapper .submit_btt {
    background: #579E27;
}
#merchandise_wrapper .submit_btt:hover {
    background: #519225;
}
#merchandise_wrapper .submit_btt:active {
    background: #45831B;
}
#merchandise_wrapper p {
    /*margin-left:10px;*/
}

#merchandise_wrapper #breadcrumb #cart span.left {
    display: inline-block;
    float: left;
    width: 9px;
    height: 34px;
    overflow: hidden;
    background-position: 0px 50%;
    background-repeat: no-repeat;
}
#merchandise_wrapper #breadcrumb #cart span.right {
    display: inline-block;
    float: left;
    width: 4px;
    height: 34px;
    overflow: hidden;
    background-position: 0px 50%;
    background-repeat: no-repeat;
}

#listproduct {clear:both ; position: relative}

.grid {
    /*width: 33%;
    float: left;*/
    height: 420px;
    text-align: center;
}
.list {
    width:100%;

}

.grid p.name{
    height:20px;
    overflow:hidden;
    font-weight: bold;
}
.grid h5{
    height:20px;
    overflow:hidden;

}
.grid img{
    margin: 0px auto;

    padding: 0 0px;
}

.grid .height-img{
    height: 220px;
}

.grid p.name{
    height:20px;
    overflow:hidden;
    font-weight: bold;
}
.grid h5{
    height:20px;
    overflow:hidden;
    font-weight: bold;

}
.grid p.description{
    height:40px;
    overflow:hidden;
}

.list p.name{
    height:20px;
    overflow:hidden;
    font-weight: bold;
}
.list h5{
    height:20px;
    overflow:hidden;

}
.list img{
    margin: 0px auto;
    height:220px;
    padding: 0 0px;
}
.list p.name{
    height:20px;
    overflow:hidden;
    font-weight: bold;
}
.list h5{
    height:40px;
    overflow:hidden;
    font-weight: bold;

}
.list p.description{
    height:80px;
    overflow:hidden;
}

.list .list-warpper{
    padding: 10px 50px;
}

optgroup { font-size:14px; }

/*
* Products page
*/
#merchandise_wrapper{
    overflow: hidden;
    padding: 2px;
}
/* Categories */
#merchandise_wrapper .b-bread__label{
    box-sizing: border-box;
}
#merchandise_wrapper .b-bread__label{
    background-color: #fff;
    border: #5F6874 1px solid;
    color: #333745;
    margin: 5px 0 5px -1px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    font-size: 1.2em;
}
@media (min-width: 500px){
    #merchandise_wrapper .b-bread__label{
        width: 20%;
    }
}

#merchandise_wrapper .b-bread__sub_level_1:hover .b-bread__label,
#merchandise_wrapper .b-bread__sub_level_1 .b-bread__btn_active{
    background-color: #5F6874;
    color: #fff;
}

#merchandise_wrapper .b-bread__sub_level_2 .b-bread__label{
    background-color: #BFD9FF;
}
#merchandise_wrapper .b-bread__sub_level_2:hover .b-bread__label,
#merchandise_wrapper .b-bread__sub_level_2 .b-bread__btn_active{
    background-color: #599CFF;
    color: #fff;
}
#merchandise_wrapper .btn-grid,
#merchandise_wrapper .btn-list{
    margin-left: 5px;
    font-size: 15px !important;
    background: #fff;
    padding: 4px 7px;
}

/* Product item */
#merchandise_wrapper .product {
    border: none;
    font-size: 15px;
    height: auto;
    margin: 0;
    min-width: 200px;
    padding: 10px 10px 0 0;
}
#merchandise_wrapper .product > div{
    box-shadow: 0 0 4px #eee;
    padding-top: 5px;
}
#merchandise_wrapper .grid > div{
    height: 350px;
}
#merchandise_wrapper .product .height-img {
    height: 130px;
}
#merchandise_wrapper .product p.name {
    margin-bottom: 15px;
}
#merchandise_wrapper h5,
#merchandise_wrapper .product p.name {
    /*height: 20px;*/
    height: auto;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}
#merchandise_wrapper .product p.name {
    margin-bottom: 5px;
}
#merchandise_wrapper .product img {
    height: auto;
    margin: auto;
    padding: 0 0px;
    max-width: 100%;
    max-height: 130px;
    width: auto;
}
#merchandise_wrapper .label-price {
    display: inline-block;
    border-color: #E4E4E4;
    border-style: solid;
    border-width: 1px 0;
    max-width: 100%;
    padding: 5px;
}
#merchandise_wrapper .label-price select{
    border: none;
    max-width: 100%;
}
#merchandise_wrapper .list .btn-add {
    margin-left: 20px;
}

/* UN-Comment this block to hide Product Descriptions */

#merchandise_wrapper .list .product_price_box br,
#merchandise_wrapper .product p.description {
    display: table;
    font-size:0.8em;
}
#merchandise_wrapper .grid > div{
    height: 290px;
}
.
/********************************************************/


/*
* Buttons
*/
#merchandise_wrapper .merchant-btn,
#merchandise_wrapper .merchant-btn-revert{
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    margin: 8px 0px;
    outline: none;
    padding: 0 10px;
    text-transform: uppercase;
    transition: all .2s;
}

#merchandise_wrapper .merchant-btn-revert,
#merchandise_wrapper .merchant-btn:hover{
    background-color: #5F6874;
    color: #fff;
    border-color: #fff;
    text-decoration:none;
}
#merchandise_wrapper .merchant-btn-revert:hover,
#merchandise_wrapper .merchant-btn{
    /*background-color: #fff;*/
    color: #333745;
    border-color: #333745;
}
#merchandise_wrapper a.merchant-btn:hover,
#merchandise_wrapper a.merchant-btn-revert:hover {
    text-decoration:  none;
}
#merchandise_wrapper a.merchant-btn-revert.next,
#merchandise_wrapper a.merchant-btn-revert.btn-next,
#merchandise_wrapper a.merchant-btn.btn-back
{
    background-color: #bfa689;
    border: 1px solid #d6d2cd;
    text-decoration:none;
    font-size:2.0em;
    color:#12316a;
    padding:5px 10px;
}
/*
* Cart
*/

.delete_button {
    display: inline-block;
    float: left;
    width: 16px;
    height: 16px;
    overflow: hidden;

    background-position: 0px 50%;
    background-repeat: no-repeat;
    margin-top: 3px;
    margin-left: 6px;
    cursor: pointer;
}

.messageShow{
    margin: 5px;
    font-size: 15px !important;
}
/**
* Payment
*/
.order-summary{
    padding: 0px 36px;
}
/*
* Ajax Cart
*/
.mini-cart-info .product_name {
    padding-left: 10px;
}
/*
*Billling
*/
#merchandise_wrapper .row {
    zoom: 1;
    margin-left: 20px;
    margin-top: 5px;
}
.input-group-addon{

    text-align: right;
}

.contain-step {
    margin: 0px 0px 0px 0px;
    padding: 23px 23px 37px 0px;
}
/*
* payment
*/
input.tick[name="ccnumber"] {
    background-image: url("//www.funeralnet.com/mfscommon/programs/merchant/assets/graphics/tick.png");
    background-position: right center;
    background-repeat: no-repeat;
}
textarea.form-control {
    height: 76px !important;
}

#merchandise_wrapper .merchant-summary {
    padding: 0 15px !important; 
    font-size: 15px !important;
}




.form-group {
    /*font-size:1.3em;*/
}
a.btn.btn-default {
  font-size: 1.5em;
}
.table-bordered {
    font-size:1.5em;
}
.errorMessage {
  font-size: 1.4em;
}
.form-group h5{
    /*font-family: Verdana, Geneva, sans-serif !important;*/
    /*font-size:0.6em;*/
}
.list-warpper h5{
    /*font-family: Verdana, Geneva, sans-serif !important;*/
}
.list-warpper .description{
    /*font-size:1.0em !important;*/
}

p.type-flowers{
    margin: 0 0 5px 10px !important;
}
.view-detial-flowers{
    margin-bottom:20px;
}

/******* Light Box Product ***************/
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
}

.flowers-popup .thumb-product{
    display:inline-block;
    width:40%;
}
.flowers-popup .title-product{
    display: inline-block;
    vertical-align: top;
    width: 59%;
}
.flowers-popup .clear{
    clear:both;
}
.flowers-popup .container-data-desc{
    background-color: #efdfcc;
    color: #113155;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 1.4em;
    line-height: normal;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.flowers-popup .title-desc{
    font-family: 'Cinzel', serif;
    font-size:1.7em;
    margin:0;
}
.flowers-popup .name{
    font-family: "Cinzel",serif;
    font-size: 2.7em;
    margin-bottom:10px;
    height: auto !important;
}
.flowers-popup .price{
    font-family: Verdana, Geneva, sans-serif;
    font-size:1.7em;
}
.flowers-popup .price-popup{
    font-weight:normal;
    margin-top:10px;
}


@media screen and (max-width: 767px) {
.flowers-popup .thumb-product{
    width:100%;
}
.flowers-popup .thumb-product{
    width:100%;
}   
}
